@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.progress-indicator {
  background: conic-gradient(
    #4f46e5 var(--progress),
    #e5e7eb var(--progress)
  );
  border-radius: 9999px;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Test Log */
    --test-log: "Tailwind Directives Applied";
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


input[type="checkbox"] {
  accent-color: green;
}

.first-checkbox {
  accent-color: red;
}
